header {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    background:transparent;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: url(/img/header.png);
  
    .container {
        width: 74%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: flex-end;
        padding-bottom: 20px;


        @media(max-width:1024px) {
            align-items: flex-start;
            flex-direction: column;
            padding-bottom: 0px;
           
        } 

        @media(max-width:580px) {
            width: 90%;
            padding-top: 0px;
        }

        @media(max-width:460px) {
            width: 100%;
            padding-top: 0px;
        }   
    }
        
        .white_btn {
            position: absolute;
            top: 0px;
            right: 200px;
            display: flex;
            justify-content: center;
            z-index: 999;

    
            @media(max-width:1200px) {
                right: 50px;
            }   
            
            @media(max-width:460px) {
                right: 130px;
            }  

            @media(max-width:460px) {
                right: 26%;
            }  

            @media(max-width:460px) {
                right: 36%;
            } 

            @media(max-width:460px) {
                right: 34%;
            } 
            @media(max-width:360px) {
                right: 32%;
            } 
            @media(max-width:345px) {
                right: 28%;
            } 
            @media(max-width:330px) {
                right: 26%;
            } 
                 
            .white {
                display: flex;
                justify-content: center;
                position: relative;
                z-index: 1000;
                width: 33px;
                height: 45px;
                margin-right: 5px;
                padding: 0px;
                border: none;
                background-color: aliceblue;
                padding: 0;
                align-items: flex-end;
                padding-bottom: 10px;
                transition: 0.3s;

                &:hover {
                    background:#E4A16F;

                     
                    &:hover path{
                            stroke:white;
                            fill:white;
                            color: white;
                    }  
                    
                }

                @media(max-width:800px) {
                    width: 32px;
                    height: 55px;
                }     
                
                @media(max-width:800px) {
                    width: 32px;
                    height: 45px;
                } 
                
              
            }

            .like { 
                @media(max-width:460px) {
                display: none;
            } 
            
        }
    }

    .logo {
        width: 17%;
        display: flex;
        align-items: center;
        cursor: pointer;
        
        a {
            transition: 0.3s;
        }

        @media(max-width:1024px) {
            margin-bottom: 15px;
        } 

    }
    
    nav {
        width: 57%;
        text-align: end;

        @media(max-width:1024px) {
                width: 80%;
            } 
 
        @media(max-width:460px) {
            display: none;
        } 

        ul {
            width: 100%;
            display: flex;
            padding: 0px;
            justify-content: space-between;
            align-items: center;
            margin: 0px;
            margin-left: 30px;

            @media(max-width:1100px) {
                margin-left: 40px;
            } 

            @media(max-width:650px) {
                margin-left: 0px;
            } 

            li {
                list-style-type: none;
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    color:white;
                    font-family:'Mont';
                    font-size: 16px;
                    font-weight: 400;
                    border-bottom: 1px solid transparent;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        border-bottom: 1px solid white;
                    }

                    @media(max-width:440px) {   
                    font-size: 14px;
                    }
                }
            }
        }
    }   
}

@media(max-width:460px) {

    .wrapper_icon {
        width: 70px;
        position: absolute; 
        right: 0px;
        top:10px;
        background: linear-gradient(#5E3928,#E4A16F );
        display: flex;
        align-items: center;
        justify-content:center;
    }

    #nav-icon2 {
        width: 30px;
        height: 40px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        margin-top: 0px;
        display: flex;
        margin: 0,auto;
        margin-right: 10px;
    
    }
    #nav-icon2 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        background: white;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        
    }

    #nav-icon2 span:nth-child(even) {
        left: 40%;
        border-radius: 0 9px 9px 0;
    }

    #nav-icon2 span:nth-child(odd) {
        left:0px;
        border-radius: 9px 0 0 9px;
    }

    #nav-icon2 span:nth-child(1),
    #nav-icon2 span:nth-child(2) {
        top: 12px;
    }

    #nav-icon2 span:nth-child(3),
    #nav-icon2 span:nth-child(4) {
        top: 20px;
    }

    #nav-icon2 span:nth-child(5),
    #nav-icon2 span:nth-child(6) {
        top: 28px;
    }

    #nav-icon2.open span:nth-child(1),
    #nav-icon2.open span:nth-child(6) {
        transform: rotate(45deg);
    }

    #nav-icon2.open span:nth-child(2),
    #nav-icon2.open span:nth-child(5) {
        transform: rotate(-45deg);
    }

    #nav-icon2.open span:nth-child(1) {
        left: 5px;
        top: -40px;
        width: 10%;
    }

    #nav-icon2.open span:nth-child(2) {
        left: calc(50% - 5px);
        top: 20px;
    }

    #nav-icon2.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
        width: 10%;
    }

    #nav-icon2.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
    }

    #nav-icon2.open span:nth-child(5) {
        left: 5px;
        top: -40px;
        width: 10%;
    }

    #nav-icon2.open span:nth-child(6) {
        left: calc(50% - 5px);
        top: 20px;
    }
}


.bg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top:0;
    width: 100%;
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    
    ul {
        margin-top: 110px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
            margin-bottom: 30px;
        }
              
        a {
            font-family: "Mont";
            font-size: 30px;
            font-weight: 500;
           
            letter-spacing: 0em;
            text-align: center;
            

        }
    }
  }

  .white.like.activ{
    display: flex;
  }

.change {
    background: transparent;
}
 
