body {
  position: relative;
  margin: 0px;
  padding: 0px;
}

main {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
}
main .title {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  background: url(/img/bgc.png) no-repeat 100%;
  height: 100vh;
  align-items: center;
  z-index: 3;
  margin-top: -95px;
}
main .title .container {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
}
main .title .container h1 {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
  color: white;
  font-family: "Garamond";
  font-size: 72px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.lorem {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: #111111;
}
.lorem .container {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  justify-items: center;
  padding: 40px 0px;
}
.lorem .container .cat {
  font-size: 200px;
  color: white;
  align-items: flex-end;
  display: flex;
}
.lorem .container p {
  color: white;
  display: grid;
  grid-template-columns: 80%;
  font-family: "Garamond";
  font-size: 27px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  justify-content: center;
}

.service {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  background-color: #111111;
  padding: 40px 0px;
}
.service .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 80%;
  gap: 55px;
  text-align: center;
}
.service .container .wrapper_service {
  transition: 0.3s;
  position: relative;
}
.service .container .wrapper_service .box_service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 45vh;
  position: relative;
  border: 1px solid #CDAA7D;
  margin-bottom: 60px;
  transition: 0.3s;
}
.service .container .wrapper_service .box_service img {
  display: grid;
  width: 100%;
  height: 45vh;
  position: absolute;
  top: 20px;
  right: 20px;
}
.service .container .wrapper_service .box_service:hover {
  box-shadow: 0px 0px 5px 5px #CDAA7D;
}
.service .container .wrapper_service .procedure {
  font-family: "Garamond";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  position: absolute;
  bottom: 0px;
}

.partners {
  background-color: #111111;
  display: grid;
  justify-content: center;
  padding: 40px 0px;
}
.partners .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.partners .container .box_partners a img {
  cursor: pointer;
}

.our_work {
  display: grid;
  width: 100%;
  justify-content: center;
  background-color: #111111;
  padding: 20px 0px;
}
.our_work .container {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.our_work .container h2 {
  text-align: center;
  color: white;
  font-family: "Garamond";
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 80px;
}
.our_work .container nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 20px;
  width: 90%;
  justify-items: center;
}
.our_work .container nav .works {
  color: white;
  font-family: "Garamond";
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}
.our_work .container nav .works:hover {
  color: #CDAA7D;
  border-bottom: 1px solid #CDAA7D;
}
.our_work .container nav .active {
  color: #CDAA7D;
  border-bottom: 1px solid #CDAA7D;
}
.our_work .container .photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.our_work .container .photo img {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  margin-top: 40px;
  position: fixed;
  z-index: 999;
}
.header .container {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
}
.header .container .nav {
  display: grid;
  border: 1px solid #FFFFFF;
}
.header .container .nav ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  justify-content: center;
}
.header .container .nav ul li {
  display: grid;
  justify-content: flex-start;
  align-items: center;
}
.header .container .nav ul li a {
  font-family: "Garamond";
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  z-index: 40;
  color: white;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}
.header .container .nav ul li a:hover {
  color: #CDAA7D;
  border-bottom: 1px solid #CDAA7D;
}
.header .container .nav ul li .active {
  color: #CDAA7D;
  border-bottom: 1px solid #CDAA7D;
}

.footer {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  background-color: #111111;
  justify-items: center;
  padding: 20px 0px;
}
.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin-bottom: 20px;
  align-items: start;
}
.footer .container .contact {
  width: 50%;
}
.footer .container .contact address {
  cursor: pointer;
  color: white;
  font-family: "Garamond";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}
.footer .container .logo {
  display: grid;
  justify-content: center;
}
.footer .container .logo a {
  cursor: pointer;
}
.footer .container .logo a:hover {
  color: #CDAA7D;
  border-bottom: 1px solid #CDAA7D;
}
.footer .container a {
  cursor: pointer;
  color: white;
  font-family: "Garamond";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.footer .container a:hover {
  color: #CDAA7D;
  border-bottom: 1px solid #CDAA7D;
}
.footer .container .work_day {
  color: white;
  font-family: "Garamond";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

p {
  color: white;
  margin: 0px;
  font-family: "Garamond";
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.insta {
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
.insta a:hover {
  color: #CDAA7D;
  border-bottom: 1px solid #CDAA7D;
}

.line {
  margin-bottom: 20px;
}

.copy {
  color: white;
  font-family: "Garamond";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

@font-face {
  font-family: "Garamond";
  src: url(/fonts/CormorantGaramond-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Garamond";
  src: url(/fonts/CormorantGaramond-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Garamond";
  src: url(/fonts/CormorantGaramond-Bold.ttf);
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */