@font-face {
    font-family: "Garamond", sans-serif;
    src: url(/fonts/CormorantGaramond-Regular.ttf);
    font-weight: 400;
};
@font-face {
    font-family: "Garamond", sans-serif;
    src: url(/fonts/CormorantGaramond-SemiBold.ttf);
    font-weight: 600;
};
@font-face {
    font-family: "Garamond", sans-serif;
    src: url(/fonts/CormorantGaramond-Bold.ttf);
    font-weight: 700;
}