.footer {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    background-color: #111111;
    justify-items: center;
    padding: 20px 0px;

    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 20px;
        border-bottom: 1px solid #FFFFFF;

        @media(max-width:860px) {
            grid-template-columns: 1fr 1fr;
            
        }

        .logo {
            display: grid;
            grid-template-columns: 4fr;
            justify-items: start;
        }
        .contact {
            width: 50%;
            margin-bottom: 20px;

            @media(max-width:1030px) {
                width: 60%;
            }

            @media(max-width:860px) {
                width: 70%;
                margin-bottom: 30px;
            }

            address {
                cursor: pointer;
                color: white;
                font-size: 18px;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                list-style-type: none;
                text-decoration: none;
            }
        }

        .logo {
            display: grid;
            justify-content: center;
            
            a {
                cursor: pointer;

                &:hover {
                    color: #CDAA7D;
                    border-bottom: 1px solid #CDAA7D;
                }
            }
        }
        
        a {
            cursor: pointer;
            color: white;
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            list-style-type: none;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: 0.3s;

            &:hover {
                color: #CDAA7D;
                border-bottom: 1px solid #CDAA7D;
            }
        }

        .work_day {
            color: white;
            font-family:"Garamond";
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}

p {
    color: white;
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
}

.insta {
    transition: 0.3s;
    border-bottom: 1px solid transparent;

    a {
        &:hover {
            color: #CDAA7D;
            border-bottom: 1px solid #CDAA7D;
        }
    }
}

.line {
  margin-bottom: 20px;
}

.copy {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}