.header {
    display:grid;
    justify-content: center;
    grid-template-columns: 100%;
    background-color: transparent;
    padding: 30px 0px;
    justify-items: center;

    @media (max-width:768px) {
       padding:0px;
    }

        @media (max-width:768px) {
            grid-template-columns: 80%;
            background-color: #111111;
        }
           
        .nav {
            display: grid;
            border-bottom: 1px solid #FFFFFF;
            z-index: 4000;
            padding: 10px 0px; 

            @media(max-width:768px) {
                display: none;
            }
          
            ul {
                display: grid;
                grid-template-columns: repeat(8,1fr);
                padding: 0px;
                margin: 0px;
                list-style-type: none;
                justify-content: center;

                li {
                    display: grid;
                    justify-content: center;
                    align-items: center;

                    a {
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 23px;
                        letter-spacing: 0em;
                        text-align: left;
                        z-index: 40;
                        color: white;
                        border-bottom: 1px solid transparent;
                        transition: 0.3s;
                        cursor: pointer;

                        &:hover {
                            color: #CDAA7D;
                            border-bottom: 1px solid #CDAA7D;
                        }
                    }

                    .active { 
                        color: #CDAA7D;
                        border-bottom: 1px solid #CDAA7D;
                    }                   
                }
            }
        }

        .mobile {
            display: grid;
            background-color: #111111;
            width: 100%;
            z-index: 2000;
            margin-bottom: -30px;
            
            ul {
                width: 100%;
                display: grid;
                grid-template-columns: 4fr;
                padding: 20px 0px;
                margin: 0px;
                list-style-type: none;
                justify-content: center;

                li {
                  
                    a {
                        line-height: 50px;
                    }
                }
            }
        }
    }

@media(max-width:768px) {

    .wrapper_icon {
        width: 70px;
        position: absolute; 
        right: 0px;
        top:10px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content:center;
        z-index: 1000;
    }

    #nav-icon2 {
        width: 30px;
        height: 40px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        margin-top: 0px;
        display: flex;
        margin: 0,auto;
        margin-right: 10px;
    
    }

    #nav-icon2 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        background: white;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;        
    }

    #nav-icon2 span:nth-child(even) {
        left: 40%;
        border-radius: 0 9px 9px 0;
    }

    #nav-icon2 span:nth-child(odd) {
        left:0px;
        border-radius: 9px 0 0 9px;
    }

    #nav-icon2 span:nth-child(1),
    #nav-icon2 span:nth-child(2) {
        top: 12px;
    }

    #nav-icon2 span:nth-child(3),
    #nav-icon2 span:nth-child(4) {
        top: 20px;
    }

    #nav-icon2 span:nth-child(5),
    #nav-icon2 span:nth-child(6) {
        top: 28px;
    }

    #nav-icon2.open span:nth-child(1),
    #nav-icon2.open span:nth-child(6) {
        transform: rotate(45deg);
    }

    #nav-icon2.open span:nth-child(2),
    #nav-icon2.open span:nth-child(5) {
        transform: rotate(-45deg);
    }

    #nav-icon2.open span:nth-child(1) {
        left: 5px;
        top: -40px;
        width: 10%;
    }

    #nav-icon2.open span:nth-child(2) {
        left: calc(50% - 5px);
        top: 20px;
    }

    #nav-icon2.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
        width: 10%;
    }

    #nav-icon2.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
    }

    #nav-icon2.open span:nth-child(5) {
        left: 5px;
        top: -40px;
        width: 10%;
    }

    #nav-icon2.open span:nth-child(6) {
        left: calc(50% - 5px);
        top: 20px;
    }
}
